<!DOCTYPE html>
<html>
<title>New Sac Room Booking Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>
<div class="w3-display-container" style="margin-bottom:50px">
    <ul class="w3-navbar w3-light-grey w3-border">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'book_new' %}" >Book</a></li>
        <li class="w3-right"><a class="w3-black" href="{% url 'logout' %}">Logout</a></li>
    </ul>
    <img src="http://www.iitg.ernet.in/indogerman2016/images/iitg_6.jpg" style="width:100%">
    <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
         style="bottom:10%;opacity:0.7;width:70%">
        <h2><b>Room Booking Portal<br>For New Student Activity Centre</b></h2>
    </div>
</div>
{% block content %}
{% endblock %}

</body>
</html>