<!DOCTYPE html>
<html>
<title>New Sac Room Booking Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-display-container" style="margin-bottom:50px">
  <img src="http://www.iitg.ernet.in/indogerman2016/images/iitg_6.jpg" style="width:100%">
  <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
   style="bottom:10%;opacity:0.7;width:70%">
  <h2><b>Room Booking Portal<br>For New Student Activity Centre</b></h2>
</div>
</div>

{% for room in rooms %}
<div class="w3-row w3-container" style="margin:50px">

  <div class="w3-topbar w3-border-amber w3-padding-top">
   <!-- <img src="img_cellphone.jpg" style="width:100%">-->
    <h2>{{room.room_name}}</h2>
    <p>Occupancy:{{room.room_occupancy}}</p>
    <p>Occupied between:{% for room_booking in rooms_bookings %}{{room_booking.in_time}}-{{room_booking.out_time}}<br>{% endfor %}</p>

  
</div>
{% endfor %}
<div class="">
			{% if user.is_authenticated %}
            <a href="{% url 'book_new' %}" class="top-menu"><button class="w3-btn w3-xlarge w3-dark-grey w3-hover-light-grey"  style="font-weight:900;">Book My Room!</button></a>
            {% endif %}
</div>
{% block content %}
{% endblock %}

</body>
</html>


