{% extends 'bookmyroom/base.html' %}

{% block content %}
    <div class="w3-row w3-container" style="margin:50px 0">
        <h1>{{ room_booking.room_name }}</h1>
        <p>{{ room_booking.in_time }}-{{ room_booking.out_time }}</p>
        {% if room_booking.book_time %}
            <div class="date">
                Booked On : {{ room_booking.book_time }}
            </div>
        {% endif %}
        <div>
            Booked By : {{ room_booking.user.name }}
        </div>

    </div>
{% endblock %}