{% extends 'bookmyroom/base.html' %}
{% block content %}
    {% for room in room_booking %}
        <div class="w3-row w3-container" style="margin:50px">
            <div class="w3-topbar w3-border-amber w3-padding-top">
                <h2>{{ room.room_name.room_name }}</h2>
                <p>Occupied between : {{ room.in_time }} - {{ room.out_time }}<br></p>
                <p>Occupied by : {{ room.user.name }}<br></p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{#<a href="{% url 'book_new' %}" class="top-menu">#}
{#    <button type="button" style="alignment :left;">Book My Room!</button>#}
{#</a>#}

