{% extends 'bookmyroom/base.html' %}
{% block content %}

<p>Date: <label for="datepicker"></label><input type="text" id="datepicker"></p>

    {% for room in room_booking %}

        <div class="w3-row w3-container w3-col m4 l3" style="margin:50px">
            <div id ="booking" class="card card-inverse card-info text-xs-center">
                <img class="card-img-top" src="{{ room.room_name.room_image }}" alt="{{ room.room_name.room_name }}"><!-- Add image in room model -->
                <div class="card-block">

                <h4 class="card-title">{{ room.room_name.room_name }}</h4>
                    <p id="date" class="card-text">Occupied on : {{ room.date }}<br></p>
{#                <p class="card-text">Occupancy : {{ room.room_name.room_occupancy }}</p>#}
                <p class="card-text">Occupied between : {{ room.in_time }} - {{ room.out_time }}<br></p>
                <p class="card-text">Occupied by : {{ room.user.name }}<br></p>
                    </div>
            </div>
        </div>


    {% endfor %}
    <script>
    //motive is to hide whole division if date doesnt match




    if (document.getElementById("datepicker").value != document.getElementById("date").innerHTML)$('#booking .show').hide();

    </script>
{% endblock %}
{#<a href="{% url 'book_new' %}" class="top-menu">#}
{#    <button type="button" style="alignment :left;">Book My Room!</button>#}
{#</a>#}

