{% extends 'bookmyroom/base.html' %}
{% block content %}
    <div id="paginator"></div>
    <br>
    <h3 align="center">Rooms Booked Today</h3>
    <div class="no_room">
        <br>
        <br>
        <h4 align="center" style="padding-bottom: 200px" > No Rooms booked for today. </h4>
        <br>
        <br>
    </div>
    {% for room in room_booking %}
        <div class="w3-row w3-container w3-col m4 l3" style="margin:50px; display:block">
            <div id="booking" class="card card-outline-primary card-info text-xs-center">
                <div class="card-block">
                    <h4 class="card-title"><b>{{ room.room_name.room_name }}</b></h4>
                    <p class="card-text">Occupied on : </p>
                    <p class="card-text date"><b>{{ room.date }}</b><br></p>
                    <p class="card-text">Occupied between :</p><p> <b>{{ room.in_time }} - {{ room.out_time }}</b><br></p>
                    <p class="card-text">Occupied by : <b>{{ room.user.name }}</b><br></p>
                </div>
            </div>
        </div>
    {% endfor %}
    <script>
        function update_cards(selected_date, selected_month, selected_year) {
            dates = (document.getElementsByClassName('date'));
            var list=[],count=0;
            for(var j=0;j<dates.length;j++){
                text = dates[j].innerText;
                list.push(text);
                month = text.split('.')[0];
                date_element = text.split(',')[0].slice(-2);
                year = text.slice(-5);
                var monthNumber = ["january", "february", "march","april","may","june","july","august","september","october","november","december"]
                for(var i=0;i<monthNumber.length;i++){
                    if(monthNumber[i].indexOf(month.toLowerCase())>=0){
                        var month_id= i+1;
                    }
                }
                if(month_id!=selected_month||date_element!=selected_date||selected_year!=year){
                    $(dates[j]).parent().parent().parent().hide();
                }
                else{
                    $(dates[j]).parent().parent().parent().show();
                    count++;
                }
            }
            if(count==0){
                $(document.getElementsByClassName('no_room')).show();
            }
            else{
                $(document.getElementsByClassName('no_room')).hide();
            }
{#            console.log(convert_date(list[0]))#}
        }
    </script>
    <script>

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }
        today = yyyy + '/' + mm + '/' + dd;
        var options = {
            selectedDate: today,
            selectedDateFormat: 'YYYY-MM-DD'
        }
        $('#paginator').datepaginator(options);

    </script>
    <script>
        $('#paginator').on('selectedDateChanged', function (event, date) {
            var object = date.toObject();
            var selected_date = object.date;
            var selected_month = object.months+1;
            var selected_year = object.years;
            update_cards(selected_date, selected_month, selected_year);
{#            console.log('==================');#}
{#            console.log(selected_date);#}
{#            console.log(selected_month);#}
{#            console.log(selected_year);#}
{#            console.log('==================');#}
        });
    </script>
    <script>
        $(document).ready(function () {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd
            }

            if (mm < 10) {
                mm = '0' + mm
            }
            update_cards(dd, mm, yyyy);
        });
    </script>

{% endblock %}
{#<a href="{% url 'book_new' %}" class="top-menu">#}
{#    <button type="button" style="alignment :left;">Book My Room!</button>#}
{#</a>#}

