<html>
<head>
    <meta charset="utf-8">
    <title>Login Or Signup</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1><strong>Welcome</strong></h1>
<h2>Login</h2><br>
<div class="container">
    <form action="login" method="post">
        <div class="form-group row">
            {% csrf_token %}
            <label for="inputloginname" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" placeholder="Username" class="form-control" id="inputloginname" name="username">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputloginpassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" placeholder="Password" class="form-control" id="inputloginpassword"
                       name="password">
            </div>
        </div>
        <p><a href="#">Forgot Password?</a></p><br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<h2>Signup</h2><br>
<div class="container">
    <form action="signup" method="post">
        <div class="form-group row">
            {% csrf_token %}
            <div class="form-group row">
                <label for="inputsignupname" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10"><input type="text" placeholder="Username" class="form-control"
                                              id="inputsignupname" name="username"></div>
            </div>
            <div class="form-group row">
                <label for="inputsignuppassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10"><input type="password" placeholder="Password" class="form-control"
                                              id="inputsignuppassword" name="password"></div>
            </div>
            <div class="form-group row">
                <label for="inputsignupemail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10"><input type="email" placeholder="Email" class="form-control"
                                              id="inputsignupemail" name="email"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
</div>
</body>
</html>