{% extends 'bookmyroom/base.html' %}
{% block content %}
    <h3>Rooms booked by you : </h3>
    {% for room in rooms %}
        <div class="w3-row w3-container" style="margin:50px">
            <div class="w3-topbar w3-border-amber w3-padding-top">
                <h2>{{ room.room_name.room_name }}</h2>
                <p>Occupancy : {{ room.room_name.room_occupancy }}</p>
                <p>Occupied between : {{ room.date }} | {{ room.in_time }} - {{ room.out_time }}<br></p>
                {% comment %}<a href="{% url 'book_edit' pk=room.pk %}" class="top-menu">
                    <button type="button" style="alignment :left;">Edit</button>
                </a>{% endcomment %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

