{% extends 'bookmyroom/base.html' %}
{% block content %}
    <h3 align="center">Rooms booked by you : </h3>
    {% for room in rooms %}
        <div class="w3-row w3-container w3-col m4 l3" style="margin:50px; display:block">
            <div class="card card-outline-primary card-info text-xs-center">
                <div class="card-block">
                    <h4 class="card-title"><b>{{ room.room_name.room_name }}</b></h4>
                    <p class="card-text">Occupancy : <p><b>{{ room.room_name.room_occupancy }}</b></p></p>
                    <p class="card-text">Occupied between : <p><b>{{ room.date }} | {{ room.in_time }} - {{ room.out_time }}</b></p<br></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

